<body class="banner" style="background-image: url('/assets/fond.jpg');">

<div class="content">
<iframe src="https://snazzymaps.com/embed/57064" width="100%" height="460px" style="border:none;"></iframe>
  <div class="info">
    <div class="text-left adresse">
      <p>AVE Pizza Romana</p>
      <p>90 rue de la Folie Méricourt
      75011 Paris</p>
      <p>Téléphone : 02 03 04 05 06</p>
    </div>
    <div class="text-left horaires">
      <p>Horaires</p>
    </div>
      <div class="horaires-content">
        <ul class="days">
          <li>Mardi</li>
          <li>Mercredi</li>
          <li>Jeudi</li>
          <li>Vendredi</li>
          <li>Samedi</li>
          <li>Dimanche</li>
        </ul>
        <ul class="hours-noon">
          <li>12h-14h30</li>
          <li>12h-14h30</li>
          <li>12h-14h30</li>
          <li>12h-14h30</li>
          <li>12h-15h</li>
          <li>12h-15h</li>
        </ul>
        <ul class="hours-night">
          <li>19h-23h</li>
          <li>19h-23h</li>
          <li>18h-23h30</li>
          <li>18h-23h30</li>
          <li>18h-23h30</li>
          <li>18h-23h30</li>
        </ul>
      </div>
  </div>
</div>
</body>
