<body class="banner" style="background-image: url('/assets/fond.jpg');">

<div class="menu-content">
  <div class="menu-pdf">
    <%= image_tag("menu.png", :alt => "Menu") %>
  </div>
</div>




</body>
